html{
    font-size: 62.5%;
}

body{  
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.2rem
}
button{
    cursor: pointer;
}

button:disabled{
    cursor: default;
}
.is-active{
    font-weight: bold;
}